@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');



.nav {

    width: 180px;
    height: 500px;

    background-color: #fff;
    overflow: hidden;

    box-shadow: 0 10px 15px rgba(133, 145, 202, 0.8);
    border-radius: 30px;
    position: fixed;
    margin: 3%;

  


  
    
}


.nav a {
    color: rgba(133, 145, 202, 0.8);
    padding: 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
   
  }


  .nav a:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
  }

  .nav a:not(.is-active):hover { color: rgba(51, 51, 51, 0.699) }

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}


.child-item{
  justify-content: center;
  align-items: center;
}


